body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fff;
}



.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
}

.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
}

.helvetica {
    font-family: "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
}

.navbar-nav>.nav-item>.nav-link {
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 14px;
}



.app-sidebar .menu .menu-item.active:not(.has-sub)>.menu-link {
    color: #220076 !important;
}

.lh-14 {
    line-height: 1.4;
}

.app {
    /* padding-top: 90px; */
}

.app-header {
    /* height: 90px; */
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
}

.text-purple {
    color: #220076 !important;
}

.btn-purple {
    background-color: #220076 !important;
    color: #fff !important;
}

.bg-purple {
    background-color: #220076 !important;
}

.bg-warning,
.bg-orange {
    background-color: #ffab00 !important;
}

.text-warning {
    color: #ffab00 !important;
}

.shadow-lg {
    box-shadow: 3px 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.fi {
    padding-top: 5px;
}



.select2-container .select2-selection--single {
    /* height: 34.5px !important; */
}

.select2-container--default .select2-selection--single {
    border: 0px !important;
}

.form-control:focus {
    outline: none !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1) !important;
}

.form-label {
    margin-bottom: .25rem;
}

.form-group {
    margin-bottom: 1.5rem !important;
}

#hero {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.resume-section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}


/* Resume Section Headings */
.resume-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #220076;
}

.resume-section h5 {
    font-weight: 500;
    font-family: "Cal Sans", sans-serif;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    width: 100% !important;
    display: block !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    font-size: 0.8rem;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container {
    display: block !important;
    /* width: 100% !important; */
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 6px;
}

.note-btn-group .note-btn {
    border-color: rgba(0, 0, 0, 0.1960784314);
    padding: 0.28rem 0.65rem;
    font-size: 13px;
}


.table> :not(caption)>*>* {
    padding: .33rem .3rem !important;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: left !important;
}


.note-editor.note-frame .note-toolbar {
    background-color: #f3f3f5;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.dropdown-menu .dropdown-item {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropdown-item>i {
    margin-top: -3px !important;
}


div.dt-container div.dt-length select {
    min-width: 80px !important;
}

.dt-layout-table {
    margin-top: 50px !important;
}
